<h2>Specific Question: </h2>
<div class="well">
  <h3>{{model.author}} says: </h3>
  <h4>{{model.content}}</h4>
  <p><em>Note: {{model.notes}}</em></p>

  {{edit-question question=model update="update"}}
  <br>
  {{question-detail question=model destroyQuestion="destroyQuestion"}}
</div>

<div class="well">
  <h3>Answers: </h3>
  {{new-answer saveAnswer="saveAnswer" question=model}}
  <br>
  <ul>
    {{#each model.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
    {{/each}}
  </ul>
</div>
